<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<title>Teste</title>

	</head>

	<body>
		<section>
			<% if (messageErrorLogin) { %>
				<p><%- messageErrorLogin %></p>
			<% } %>
			<h2>Login:</h2>
			<form action="/login" method="post">
				<input type="text" placeholder="Email" name="emailLogin">
				<br>

				<input type="password" placeholder="Password" name="passwordLogin">
				<br>
				
				<button type="submit">Login</button>
			</form>
		</section>
		<br><br>
		<section>
			<% if (messageError) { %>
				<p><%- messageError %></p>
			<% } %>
			<% if (messageSuccess) { %>
				<p><%- messageSuccess %></p>
			<% } %>
			<h2>Signup:</h2>
			<form action="/signup" method="post">
				<input type="text" placeholder="Name" name="nameSignup">
				<br>

				<input type="text" placeholder="E-mail" name="emailSignup">
				<br>
				
				<input type="password" placeholder="password" name="passwordSignup">
				<br>

				<button type="submit">Signup</button>
			</form>
		</section>
	</body>

</html>